<div class="Barra">
    <button mat-button (click)='GoToHome()'>Menu</button>
    <svg>
        <text x="37%" y="55%" fill="#fff" class="texto">HeroFight!</text>
    </svg>
    <button mat-button (click)='GoToCredits()'>Creditos</button>
</div>