.Barra
    background-image: linear-gradient(#aaa,#bbb)
    display: flex
    width: 100%
    height:5%
    justify-content: space-between

button
    background: transparent
    border: 0
    color: white
    width: 7%
    font-family: helvetica
    font-size: 20px

svg
    height: 100%
    width:15%
    text-align: center
    background: rgba(0,0,0,1)

.texto
    x: 50%
    y: 50%
    

button:hover
    background: rgba(0,0,0,0.3)